.navbar {
  margin-bottom: 0px;
}

.navbar-default .navbar-nav li a {
  color: black;
  font-size: 18px;
}

.navbar-brand{
  color: black;
  font-size: 20px;
}

.navbar-header a img  {
  background: url(http://i.imgur.com/u6yNeJB.jpg);
  height: 25px;
  width: 25px;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
.navbar-static-top {
  font-family: 'Alegreya Sans SC', sans-serif;  color: black;
  background-color: white;
  margin-bottom: 0;
}
.jumbotron {
  background: url(http://i.imgur.com/jqob1OM.jpg?1) no-repeat center center;
    -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      text-align: center;
      height: 800px;


}

.jumbotron-about {
/*  background: url(http://i.imgur.com/dmJg20b.jpg) no-repeat center center;
*/
  background: url(http://i.imgur.com/dHq6Vtm.jpg?1) no-repeat center center;

  -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      font-family: 'Alegreya Sans SC', sans-serif;      background-size: cover;
      text-align: center;
      height: 800px;
}

/*.about-me {
  border: solid black 1px;
  color: white;
  background-color: black;
  height: 300px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;

}*/

.btn-primary {
  background-color: gray;
  margin: 15px;
}

#text{
  font-family: 'Alegreya Sans SC', sans-serif;}

.container-fluid {
  font-family: 'Alegreya Sans SC', sans-serif;  text-align: center;
}
.project-header {
  font-size: 60px;
}

.project-title {
  font-family: 'Alegreya Sans SC', sans-serif;  text-align: center;
}

.profile-pic img {
  height: 200px;
  width: 200px;
}

.project-image a img {
  height: 300px;
  width: 450px;
  margin:10px;
}

.project-image p{
  font-family: 'Alegreya Sans SC', sans-serif;  font-size: 20px;
}

.about p {
  margin-top: 40px;
  margin-right: 300px;
  margin-left: 300px;
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.55);
  font-size: 24px;

}
.f-a {
  text-align: center;
  font-size: 95px;
  margin: 45px;
}

.f-a a{
  color: white;
}

#slideshow img {
  margin: 50px auto;
  position: relative;
  width: 840px;
  height: 440px;
  padding: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

#slideshow div {
  text-align: center;
/*  position: absolute;
*/top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}